body{
    background-color: #ececec;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#abc{
    float:left; 
    background: #8fd6c9;
    width:48%;
    height:280px;
    margin-left: 1%;
    color: white;
    cursor: pointer;
    font-family: Verdana;
}
#efg{
    float:right;
    background: #8fd6c9;
    width:48%;
    height:280px;
    margin-right: 1%;
    color: white;
    cursor: pointer;
    font-family: Verdana;
}

#home{
    cursor: pointer;
}

#footerline{
    position:relative;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    top: 80%;
}

#ree1{
    margin-left: 3%;
    margin-right: 3%;
}

#ree2{
    width: 93%;
    margin-right: 5%;
}

#message{
    float: left;
    height: 20px;
    width: 78%;
    margin-bottom: 1%;
    border-style: solid;
}

#button{
    float: left;
    margin-left: 9px;
    width: 10%;
    height: 25px;
}

#report{
    float: right;
    width: 10%;
    height: 25px;
}

#list{
    border-style: solid;
    padding: 1%;
    height: 420px;
    overflow:hidden;
    overflow-y:scroll;
}

#from{
    padding: 1%;
    text-decoration: underline;
    font-weight: bold;
    text-align: right;
}

#anon{
    padding: 1%;
    text-decoration: underline;
    font-weight: bold;
}

#text{
    word-wrap: break-word;
    text-align: right;
    padding-right: 3%;
    padding-bottom: 1%;
}

.individual{
    border-style: solid;
    margin: 2%;
}

#prompt{
    padding: 1%;
    opacity: 60%;
}